.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 20px; /* Optional padding for overall grid spacing */
}

.loading,
.error {
  text-align: center;
  font-size: 1.2em;
  padding: 50px;
}
